<h1>Admin bar</h1>
<h2>Users</h2>
<%= erb :users, locals: { users: users} %>
<h2>Coupons</h2>
<%= erb :coupons_admin, locals: { coupons: coupons } %>
<h3>FaQ</h3>
<%= erb :faq_admin, locals: { faq: faq } %>