<ul class="comments">
	<form method="post" action="/comments">
		<input type="hidden" name="item_id" value="<%= item_id %>">
		<textarea name="text"></textarea>
		<input type="submit" value="Отправить"/>
	</form>
	<% comments.each do |x| %>
	<li>
		<b><%= getUserNameById x.user_id %></b>
		<i><%= x.created_at %></i>
		<p><%= x.text %></p>
	</li>
	<% end %>
</ul>