<h1><%= coupon.name %></h1>
<h2>Изначальная цена - <%= coupon.price_from %></h2>
<h2>Новая цена - <%= coupon.price_to %></h2>
<h2>Вы экономите - <%= coupon.price_save %></h2>
<h2><%= Integer(coupon.percent * 100) %>%</h2>
<p><%= coupon.conds %></p>
<p><%= coupon.description %></p>
<i>Всего таких купонов продано: <%= getSales(coupon.id).size %></i>
<h2>Акция действительна с <%= coupon.date_from %> до <%= coupon.date_to %></h2>
<h3><%= likes.size %><div class="like" data-id="<%= coupon.id %>">Like</div></h3>
<a href="/sales" class="btn sale" data-id="<%= coupon.id %>">Купить</a>

<ul class="coupon_menu">
	<li>
		<h2>Отзывы</h2>
		<div><%= erb :reviews, locals: { reviews: reviews, item_id: coupon.id } %></div>
	</li>
	<li>
		<h2>Комментарии</h2>
		<div><%= erb :comments, locals: { comments: comments, item_id: coupon.id } %></div>
	</li>
</ul>