<ul class="coupons">
	<% coupons.each do |x| %>
	<li>
		<a href="/coupons/<%= x.id %>"><%= x.name %></a>
		<!-- x.price_from
		x.price_to
		x.price_save
		x.percent
		x.conds
		x.description
		x.count_sales
		x.date_from
		x.date_to -->
	</li>
	<% end %>
</ul>