<form method="post" action="/admin/coupons">
	<input type="text" name="name"/>
	<input type="number" name="price_from"/>
	<input type="number" name="price_to"/>
	<input type="number" name="price_save"/>
	<input type="number" name="percent"/>
	<textarea name="conds"></textarea>
	<textarea name="description"></textarea>
	<input type="number" name="count_sales"/>
	<input type="date" name="date_from"/>
	<input type="date" name="date_to"/>
	<input type="submit" value="Create">
	<input type="reset" value="Reset">
	<a href="/">Cancel</a>
</form>