<h1>FAQ</h1>
<ul class="faq">
	<% faq.each do |x| %>
	<li>
		<p class="question"><%= x.question %></p>
		<p class="answer"><%= x.answer %></p>
	</li>
	<% end %>
</ul>
<a href="/admin/faq/new">Создать</a>