<form action="/admin/faq" method="post">
	<label for="question">Вопрос</label>
	<textarea name="question"></textarea>
	<label for="answer">Ответ</label>
	<textarea name="answer"></textarea>
	<br/>
	<input type="submit" value="Сохранить">
	<input type="reset" value="Сбросить">
	<a href="/faq">Отмена</a>
</form>