<div>
	<div class="middle-helper"></div>
	<h1><%= @title %></h1>
	<i>Created by &copy;<a href="http://voove.ru">VooVe</a> 2014</i>
	<nav>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/about">О нас</a></li>
			<div class="middle-helper"></div>
		</ul>
	</nav>
	<div class="middle-helper"></div>
</div>