<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>

	