<div>
	<div class="middle-helper"></div>
	<h1><%= @title %></h1>
	<nav>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/about">О нас</a></li>
			<div class="middle-helper"></div>
			<% unless @user.nil?  %>
			<li><a href="/users/<%= @user.id %>"><%= @user.login %></a></li>
			<li><a href="/signout">Выход</a></li>
			<% else %>
			<li><a href="/login">Вход</a></li>
			<% end %>
		</ul>
	</nav>
</div>