<!DOCTYPE html>
<html>
<head><%= erb :head %></head>
<body>
	<header id="header"><%= erb :header %></header>
	<main id="main"><%= yield %></main>
	<footer id="footer"><%= erb :footer %></footer>
</body>
</html>