<h1><%= @title %></h1>
<section id="coupons">
	<!-- <nav>
		<ul>
			<%# cats.each do |x| %>
			<li><a href="#" data-cat="<%#= x.id %>"><%#= x.name %></a></li>
			<%# end %>
		</ul>
	</nav> -->
	<aside class="filter">
		<%= erb :filter, locals: { coupons: coupons } %>
	</aside>
	<%= erb :coupons, locals: { coupons: coupons } %>
</section>