<ul class="reviews">
	<form action="/reviews" method="post">
		<input type="hidden" name="item_id" value="<%= item_id %>">
		<textarea name="text"></textarea>
		<input type="number" name="mark" min="1" max="5">
		<input type="submit" value="Отправить">
	</form>
	<% reviews.each do |x| %>
	<li>
		<b><%= getUserNameById x.user_id %></b>
		<i><%= x.created_at %></i>
		<i><%= x.mark %></i>
		<p><%= x.text %></p>
	</li>
	<% end %>
</ul>