<h1>Вход</h1>
<form action="/signin" method="post">
	<label for="login">Логин</label>
	<input type="text" name="login">
	<label for="password">Пароль</label>
	<input type="password" name="password">
	<br/>
	<input type="submit" value="Далее">
	<input type="reset" value="Сбросить">
	<a href="/">Отмена</a>
</form>