<h1>Регистрация</h1>
<form action="/users" method="post">
	<label for="login">Логин</label>
	<input type="text" name="login">
	<label for="email">Email</label>
	<input type="email" name="email">
	<label for="password">Пароль</label>
	<input type="password" name="password">
	<label for="repass">Повторите пароль</label>
	<input type="password" name="repass">
	<br/>
	<input type="submit" value="Далее">
	<input type="reset" value="Сбросить">
	<a href="/">Отмена</a>
</form>