<ul>
	Actions:
	<li><a href="/signup">Create new user</a></li>
</ul>
<table class='users'>
	<thead>
		<th>ID</th>
		<th>Login</th>
		<th>Email</th>
		<th>Rights</th>
		<th colspan="2">Actions</th>
	</thead>
	<% users.each do |x| %>
	<tr>
		<td><%= x.id %></td>
		<td><a href="/users/<%= x.id %>"><%= x.login %></a></td>
		<td><a href="mailto:<%=  x.email %>"><%= x.email %></a></td>
		<td><%= x.rights %></td>
		<td><a href="/users/<%= x.id %>">Change</a></td>
		<td><a href="/users/<%= x.id %>" class="delete">Delete</a></td>
	</tr>
	<% end %>
</table>