<h1><%= user.login %></h1>
<a href="mailto:<%= user.email %>">Отправить email</a>
<% if user.id == @user.id || protected! %>
<form action="/users/<%= user.id %>" method="put">
	<input type="hidden" name="_method" value="PUT">
	<label for="login">Логин</label>
	<input type="text" name="login" value="<%= user.login %>">
	<label for="email">Email</label>
	<input type="email" name="email" value="<%= user.email %>">
	<label for="password">Пароль</label>
	<input type="password" name="password">
	<label for="repass">Повторите пароль</label>
	<input type="password" name="repass">
	<br/>
	<input type="submit" value="Сохранить">
	<input type="reset" value="Сбросить">
	<a href="/">Отмена</a>
</form>
<% end %>