@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300&subset=cyrillic,latin);

// Mixins
.border-box {
	box-sizing: -webkit-border-box;
	box-sizing:    -moz-border-box;
	box-sizing:     -ms-border-box;
	box-sizing:      -o-border-box;
	box-sizing:         border-box;
}
.middle-helper {
	height: 100% !important;
	width: 0 !important;
	display: inline-block !important;
	position: relative !important;
	vertical-align: middle !important;
}
// For all
* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	.border-box;
}
// For PC and notebooks
@media screen {
	html {
		position: relative;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, lightgrey, white);
		background-attachment: fixed;
		background-size: cover;
		body {
			margin: 0 auto;
			width: 90%;
			max-width: 1024px;

			#header {
				position: fixed;
				height: 50px;
				width: 100%;
				top: 0;
				left: 0;
				background-color: yellow;
				div {
					width: 90%;
					max-width: 1024px;
					height: 100%;
					margin: 0 auto;
					h1 {
						display: inline-block;
						float: left;
						margin-left: 20px;
					}
					nav {
						display: inline-block;
						float: right;
						margin-right: 20px;
						height: 100%;
						ul {
							list-style: none;
							height: 100%;
							li {
								display: inline-block;
								a {
									display: block;
									margin: 6px 8px;

									text-decoration: none;
									a:hover {

									}
								}
							}
						}
					}
				}
			}
			#main {
				width: 100%;
				margin: 50px auto 100px auto;
				overflow-x: hidden;
			}
			#footer {
				position: fixed;
				height: 100px;
				width: 100%;
				bottom: 0;
				left: 0;
				border-top: 1px solid #222;
				div {
					width: 90%;
					max-width: 1024px;
					margin: 0 auto;
					height: 100%;
					h1 {
						display: inline-block;
						float: left;
						margin-left: 20px;
					}
					nav {
						display: inline-block;
						float: right;
						margin-right: 20px;
						height: 100%;
						ul {
							list-style: none;
							height: 100%;
							li {
								display: inline-block;
								vertical-align: middle;
								a {
									display: block;
									text-decoration: none;
									padding: 6px 8px;
									a:hover {

									}
								}
							}
						}
					}
				}
			}
		}
	}
	#login {
		width: 100%;
		height: 100%;
		tr {
			width: 100%;
			height: 100%;
			vertical-align: middle;
			td {
				width: 50%;
				padding: 10px;
			}
		}
	}
	form {
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px;

		label {
			display: block;
			outline: none;
			margin: 10px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="number"],
		textarea {
			display: block;
			width: 100%;
			border: none;
			outline: none;
			padding: 6px 8px;
			font-size: 16px;
			border-radius: 5px;

			&:focus {

			}
		}
		input[type="submit"],
		input[type="reset"],
		a {
			display: inline-block;
			padding: 6px 8px;
			border: none;
			outline: none;
			text-decoration: none;
			font-weight: 16px;
			background: white;
			box-shadow: 1px 2px 3px #222;
			color: #222;
			border-radius: 5px;
			&:hover {
				background-color: yellow;
				box-shadow: inset 1px 2px 3px #222;
			}
		}
	}
	.like {
		position: relative;
		display: inline-block;
		cursor: pointer;
	}
}